RewriteEngine on
RewriteBase /

ErrorDocument 404 "<span style='font-size: 25pt; font-weight: bold;'>Mayday! Crashing and burning over here!</span><br />The requested resource could not be found."

RedirectMatch 404 /\.git